#js_selectedCityActionCopy {
    position: relative;
}

#js_selectedCityActionCopy::before {
    border: 5px double rgb(133, 95, 41);
    display: block;
    content: "Copy";
    height: 43px;
    width: 63px;
}