#js_selectedCityActionCopy {
    position: relative;
    cursor: pointer;
}

#js_selectedCityActionCopy>a {
    position: relative;
}

#js_selectedCityActionCopy>a::before {
    border: 5px double rgb(133, 95, 41);
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    padding-top: 4px;
    display: block;
    content: "Copy";
    height: 34px;
    width: 50px;
    top: 0px;
    left: 25px;
}